.idea
.gitignore
DevSkill-Contests
.Untracked
/CSharpConsole/.vs
*.v2
/CSharpConsole/.vs
/CSharpConsole
CSharpConsole/.vs/CSharpConsole/DesignTimeBuild/.dtbcache.v2
ConsoleSolution/.vs/ConsoleSolution/FileContentIndex/10570f25-4ebb-4630-8a7a-4ca92c179d73.vsidx
ConsoleSolution/.vs/ConsoleSolution/FileContentIndex/e9361d95-dedd-49af-8787-069c09647e0a.vsidx
ConsoleSolution/.vs/ConsoleSolution/FileContentIndex/85ba04d5-6fa2-41b2-9628-67eadcac573a.vsidx
*.vsidx
