.idea
.gitignore
DevSkill-Contests
.Untracked
/CSharpConsole/.vs
*.v2
/CSharpConsole/.vs
/CSharpConsole
CSharpConsole/.vs/CSharpConsole/DesignTimeBuild/.dtbcache.v2
ConsoleSolution/.vs/ConsoleSolution/FileContentIndex/10570f25-4ebb-4630-8a7a-4ca92c179d73.vsidx
